@font-face {
  font-family: "Kuunari";
  src: url(./fonts/Kuunari-Bold.eot); /* IE9 Compat Modes */
  src: url(./fonts/Kuunari-Bold.eot?#iefix) format("embedded-opentype"),
    /* IE6-IE8 */ url(./fonts/Kuunari-Bold.woff2) format("woff2"),
    /* Super Modern Browsers */ url(./fonts/Kuunari-Bold.woff) format("woff"),
    /* Pretty Modern Browsers */ url(./fonts/Kuunari-Bold.ttf)
      format("truetype"),
    /* Safari, Android, iOS */ url(./fonts/Kuunari-Bold.svg#Kuunari)
      format("svg"); /* Legacy iOS */
}

:root {
  --body-color: #fde5cd;
  --background-color: #f09c54;
  --text-color: var(--body-color);
  --unselected-text-color: #ffcf98;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: "Kuunari", sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

.container {
  display: grid;
  place-items: center;
  background-color: var(--background-color);
  min-width: 90rem;
  min-height: 45rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 1rem 2rem 3rem;
}

.title-box {
  display: flex;
  flex-direction: column;
  line-height: 13rem;
  align-items: center;
}

.title-box h1 {
  font-size: 12rem;
.title-box h2 {
  font-size: 12rem;
 align-items: center;
}

#jpn-name {
  font-size: 9rem;
}

.navbar {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}

.navbar-links {
  font-size: 2rem;
  cursor: pointer;
}

.navbar-link {
  color: var(--unselected-text-color);
  border-bottom: 0.125rem solid transparent;
  transition: all 0.1s ease;
}

.selected {
  color: var(--text-color);
}

.navbar-link:hover {
  color: var(--text-color);
  border-bottom: 0.125rem solid;
}

.scroll-btn {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  font-size: 2rem;
  cursor: s-resize;
  border-bottom: 2px solid transparent;
  transition: border 0.1s ease;
}

.scroll-btn:hover {
  border-bottom: 0.125rem solid;
}

.number {
  font-size: 3rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
}

.dash {
  font-size: 3rem;
  position: absolute;
  top: 2rem;
  left: 3rem;
}

.char {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 40rem;
}

@media screen and (min-width: 1200px) and (max-width: 1499px) and (orientation: landscape) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) and (orientation: landscape) {
  html {
    font-size: 6px;
  }
}

@media screen and (orientation: portrait) and (max-width: 599px) {
  html {
    font-size: 5px;
  }
  body {
    overflow: hidden;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 30rem;
    min-width: 100%;
    min-height: 100%;
  }
  .navbar {
    position: inherit;
  }
  .navbar-links {
    display: flex;
    font-size: 4rem;
    gap: 2rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .char {
    width: 55rem;
  }
  .scroll-btn {
    display: none;
  }
}
@media screen and (orientation: portrait) and (max-width: 767px) and (min-width: 600px) {
  html {
    font-size: 6px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 30rem;
    min-width: 100%;
    min-height: 100%;
  }
  .navbar {
    position: inherit;
  }
  .navbar-links {
    display: flex;
    font-size: 4rem;
    gap: 2rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .char {
    width: 70rem;
  }
  .scroll-btn {
    display: none;
  }
}
